/* form#formEscala{
    margin-left: 390px;
}
form#cadCliente{
    margin-left: 520px;
    width: 450px;
}
div#divEmbarcacao{
    margin-bottom: -20px;
} */

a#dropdownCadastro{
    width: 120px;
}

a#dropdownPesquisa{
    width: 120px;
}

footer#rodape{
    margin-top: 1%;
}

button#cancelarFunc{
    margin-bottom: 27%;
}